/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  background-image:
    linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(85, 198, 122, 0.8)),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /*clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%); //triangle*/
  position: relative;
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.logo:hover {
  animation: rotate 2s linear infinite;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /*
  Corrects the shake in animation box. No one know why this shake happens.
  Backface-visibility: Determines if the back part of the element,
  when we transform it, is visible or hidden for the user. So imagine we have an element
  and we rotate it 180 degrees. Would be lógical that we see the back part.
  But if we use backface-visibitity: hidden the part behind the element is hidden.*/
  backface-visibility: hidden;
  margin-bottom: 60px;
}

.heading-primary--main {
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /*animation-delay: 3s;
  animation-iteration-count: 3;*/
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
}

.heading-primary--subtitle {
  animation: moveInRight 1s ease-out;
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
}

.text-box {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.btn:link,
.btn:visited {
  border-radius: 100px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  position: relative;
  /*
  There are 2 types of animations
  1. Transition property
  2. Transform
  We should set the transition on the initial state
  */
  transition: all .2s;
}
.btn:hover {
  transform: translateY(-3px);
  /*box-shadow: x-direction y-direction blur color=rgba to specify opacity*/
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2); /*.2 = 20% opacity*/
}
.btn:active {
  transform: translateY(-1px);
  /*When you click the button, want the shadow to be smaller
  and give impression button is closer to the page, so we decrease Y direction and make it
  less blured*/
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.btn::after {
  content: '';
  display: inline-block;
  height: 100%; /* 100% of the height of the button. after pseudo element is treated like a child element*/
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn-white {
  background-color: #fff;
  color: #777;
  margin-right: 20px;
}
.btn-white::after {
  background-color: #fff;
}
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.btn-animated {
  animation: moveInTop .5s ease-out .75s; /*.75 animation delay*/
  animation-fill-mode: backwards; /*automatically apply the styles of 0% keyframe before the animation starts*/
}
